<!doctype html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="apple-touch-icon" sizes="57x57" href="static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="static/favicon/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Report</title>

    <style type="text/css">
    html { font-family: sans-serif; font-size: 14px; }
    body { max-width:310mm; margin: 0 auto;}
    header h1 {font-size: 4rem;}
    h1 {font-size: 3rem;}
    h2 {font-size: 2.6rem;}
    h3 {font-size: 2.2rem;}
    h4 {font-size: 2.0rem;}
    ul {list-style-type: none;}
    nav li a{color: black; text-decoration: none;}
    table, tr, td, th { border-style: solid; border-color: #ccc; border-width: 0px;}
    table {border-spacing: 0px; border-width: 0px 1px 1px 0px;}
    td, th {border-width: 1px 0px 0px 1px; padding: 5px;}
    th {background-color: #eee}
    footer {text-align:center; border-top: 1px solid #CCC;}
    footer a {text-decoration: none; color: #e75424;}
    @media print {
     footer {
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    }
    header img{vertical-align:middle;}
    img { border: 0; }
    section {page-break-inside: avoid;}
    </style>
</head>

<body id="0">
<header>
<h1>
<img src="static/logo.png" width="366" height="143" alt="COLA Logo"/>
<span><br>Report</span>
</h1>
</header>


<div>
    <h2>Save/Restore/Load</h2>
</div>
<div>
    <a href="data/nn_training_data.csv">Download current data file</a>
</div>

<div>
    <a href={{ url_for('custom_static', filename='nn_training_data.csv') }}>Download current data file</a>
</div>

<div>
    <form action='' method="POST" enctype="multipart/form-data">
        <p><input type='file' name='file[]' multiple=''>
        <input type='submit' value='upload'>
        </p>
    </form>
</div>

<div>
<h2>Table of content</h2>
<nav>
<ul>
<li><a href="#10">Target Variable timeline</a>
</li>
<li><a href="#11">Input metrics timelines</a>
</li>
<li><a href="#12">Correlation Matrix</a>
</li>
<li><a href="#13">Input metrics against Target Variable</a>
</li>
<li><a href="#14">Measured Target Variable against predicted Target Variable by Neural Network (set All)</a>
</li>
<li><a href="#15">Plot measured Target Variable and predicted Target Variable by Neural Network normalized (set All)</a>
</li>
<li><a href="#16">Plot measured Target Variable and predicted Target Variable by Neural Network de-normalized (set All)</a>
</li>
<li><a href="#17">What would be the metrics values after scaling vs Real metircs values</a>
</li>
<li><a href="#18">Estimated Target Variable if add different numbers of resources</a>
</li>
<li><a href="#19">Target Variable and proposed number of resources</a>
</li>
<li><a href="#20">Predicted Target Variable and proposed number of resources</a>
</li>
<li><a href="#21">Predicted Target Variable - Proposed number of resources - Actual number of resources</a>
</li>
</ul>
</nav>
</div>
<div>

<section>
<h4 id="10">Target Variable timeline</h4>
<a href="#0"><img src="static/AverageLatencyQuantileZeroPointFiveTimeLines.png" width="100%" height="100%" alt="Image: AverageLatencyQuantileZeroPointFiveTimeLines"/></a>
</section>
<section>
<h4 id="11">Input metrics timeline</h4>
<a href="#0"><img src="static/InnerStateVariableTimeLines_2.png" width="100%" height="100%" alt="Image: InnerStateVariableTimeLines_2"/></a>
</section>
<section>
<h4 id="12">Correlation Matrix</h4>
<div align="center">
  <!-- <a href="#0"><img src="{{url_for('static', filename='CorrelationMatrix.png')}}" alt="Image: CorrelationMatrix"/></a> -->
</div>
</section>
<section>
<h4 id="13">Input metrics against Target Variable</h4>
<a href="#0"><img src="static/InnerStateVariableVsTargetVariable.png" width="100%" height="100%" alt="Image: InnerStateVariableVsTargetVariable"/></a>
</section>
<section>
<h4 id="14">Measured Target Variable against predicted Target Variable by Neural Network (set All)</h4>
<a href="#0"><img src="static/Y_normailizedVsY_predictedLatency.png" width="100%" height="100%" alt="Image: Y_normailizedVsY_predictedLatency"/></a>
</section>
<section>
<h4 id="15">Plot measured Target Variable and predicted Target Variable by Neural Network normalized (set All)</h4>
<a href="#0"><img src="static/VisualizePredictedYLineWithValuesNormalized.png" width="100%" height="100%" alt="Image: VisualizePredictedYLineWithValuesNormalized"/></a>
</section>
<section>
<h4 id="16">Plot measured Target Variable and predicted Target Variable by Neural Network de-normalized (set All)</h4>
<a href="#0"><img src="static/VisualizePredictedYLineWithValuesDenormalized.png" width="100%" height="100%" alt="Image: VisualizePredictedYLineWithValuesDenormalized"/></a>
</section>
<section>
<h4 id="17">What would be the metrics values after scaling vs Real metircs values</h4>
<div align="center">
    <table>
	  <tr>
        <td>
            <img src="static/InnerStateMetricRegression1.png" alt="Image: InnerStateMetricRegression1"/>
        </td>
        <td>
            <img src="static/InnerStateMetricRegression2.png" alt="Image: InnerStateMetricRegression2"/>
        </td>
	  </tr>
	  <tr>
        <td>
            <img src="static/InnerStateMetricRegression3.png" alt="Image: InnerStateMetricRegression3"/>
        </td>
        <td>
            <img src="static/InnerStateMetricRegression4.png" alt="Image: InnerStateMetricRegression4"/>
        </td>
	  </tr>
	  <tr>
        <td>
            <img src="static/InnerStateMetricRegression5.png" alt="Image: InnerStateMetricRegression5"/>
        </td>
        <td>
            <img src="static/InnerStateMetricRegression6.png" alt="Image: InnerStateMetricRegression6"/>
        </td>
	  </tr>
    </table>
</div>
</section>
<section>
<h4 id="18">Estimated Target Variable if add different numbers of resources</h4>
<a href="#0"><img src="static/PredictedYByWorkers.png" width="100%" height="100%" alt="Image: PredictedYByWorkers"/></a>
</section>
<section>
<h4 id="19">Target Variable and proposed number of resources</h4>
<a href="#0"><img src="static/AverageLatencyQuantileZeroPointFiveTimeLinesAndPredictedValuesAgainstTime_3.png" width="100%" height="100%" alt="Image: AverageLatencyQuantileZeroPointFiveTimeLinesAndPredictedValuesAgainstTime_3"/></a>
</section>
<section>
<h4 id="20">Predicted Target Variable and proposed number of resources</h4>
<a href="#0"><img src="static/ResponseTimeAdvicePredicted.png" width="100%" height="100%" alt="Image: ResponseTimeAdvicePredicted"/></a>
</section>
<section>
<h4 id="21">Predicted Target Variable - Proposed number of resources - Actual number of resources</h4>
<a href="#0"><img src="static/ResponseTimeAdvicePredictedWorkerCount.png" width="100%" height="100%" alt="Image: ResponseTimeAdvicePredictedWorkerCount"/></a>
</section>
<section>
<h4 id="22">Input Variable and proposed number of resources</h4>
<a href="#0"><img src="static/demo1.png" width="100%" height="100%" alt="Image: demo1"/></a>
</section>
<section>
<h4 id="23">Target Variable and Number of resources</h4>
<a href="#0"><img src="static/demo2.png" width="100%" height="100%" alt="Image: demo2"/></a>
</section>
</div>

<footer><p>Generated with MiCADO. More information at <a href="https://project-cola.eu">https://project-cola.eu/</a></p></footer>
</body>
</html>
